<div class="page-container">
  <mat-card class="faq">
    <div class="faq-title">
      Роз’яснення щодо оформлення документів та питання, які вступники до аспірантури задають найчастіше:
    </div>
    <mat-list role="list">
      <mat-list-item role="listitem">
        1. По заяві: <br>
        Для іногородніх: в заяві пишеться домашня адреса (постійної реєстрації), але не гуртожиток. <br>
        Місце тимчасового проживання в Києві позначається в анкеті у відповідному рядку. <br>
        Звертаємо Вашу увагу, що: <br>
        1) відомості про наукові досягнення (публікації, дипломи переможців,
        публікації у виданнях Scopus, Web of Science) за обраною спеціальністю <br>
        2) “публікації у фахових виданнях” – це стосується робіт, які опубліковані у
        виданнях, що включені до Переліку фахових видань МОН України. <br>
      </mat-list-item>
      <mat-list-item role="listitem">
        2. Щодо заповнення анкети: ЗРАЗОК ЗАПОВНЕННЯ <br>
        Паспортні дані - серія, номер, ким і коли виданий; <br>
        Фото відповідного розміру приклеїти на анкету. <br>
        Копія диплому та додаток до нього. <br>
        Визначити середній бал диплому за 100-бальною шкалою. <br>
        Копія трудової книжки – це ксерокопії сторінок трудової книжки із всіма
        записами, <br>
        оригінал трудової книжки вступник, який на час подання не працює,
        пред’являє особисто.
      </mat-list-item>
      <mat-list-item role="listitem">
        3. Витяг з протоколу засідання Вченої ради факультету (інституту) про рекомендацію до аспірантури не
        є обов’язковим документом. Подається у разі наявності тільки випускниками поточного року.
      </mat-list-item>
      <mat-list-item role="listitem">
        4. Дослідницька пропозиція є авторським текстом обсягом 4-5 стор., у якому викладено тематику дисертаційного
        дослідження вступника, обгрунтування її актуальності.
        На засіданні (науковому семінарі) кафедри (у травні 2019р.) проводиться презентація дослідницької
        пропозиції майбутнім вступником до аспірантури. <br>
        Після обговорення презентації оформлюється витяг з протоколу засідання (або наукового семінару) кафедри
        щодо дослідницької пропозиції вступника.
      </mat-list-item>
      <mat-list-item role="listitem">
        5. По списку наукових праць:
        Приблизний зразок оформлення списку наукових праць. <br>
        Звертаємо Вашу увагу, що до списку публікацій обов’язково додаються
        ксерокопії найбільш вагомих публікацій, а саме такі сторінки: обкладинка
        журналу (збірника), сторінка про включення видання до Переліку фахових
        видань, наукометричних баз, тощо, сторінка змісту, ксерокопія самої
        публікації) <br>
        Відгук передбачуваного наукового керівника на наукові публікації (загалом)
        оформлюється в довільній формі на окремому аркуші паперу та повинен
        містити інформацію про кількість публікацій, патентів, авторських свідоцтв
        саме з обраної спеціальності.
      </mat-list-item>
      <mat-list-item role="listitem">
        6. Щодо нарахування стипендії: <br>
        Стипендія аспірантам денної форми навчання за державним замовленням
        призначається у порядку, встановленому чинним законодавством.
      </mat-list-item>
    </mat-list>
  </mat-card>
</div>
