/**
 * color variables
 * ============================ */
 $brand-primary:         #48d0fa;
 $brand-primary-light:   #84dcff;// edit for pharaon
 $brand-primary-opacity: #339ab7;
 $brand-success:         #5cb85c;
 $brand-info:            #5bc0de;
 $brand-warning:         #fae7a5; // edit for pharaon
 $brand-warning-dark:    #ffc549; // edit for pharaon
 $brand-danger:          #ff2b2b; // edit for pharaon
 $brand-blue-light:      #54bddc; // edit for pharaon
 $brand-brown:           #994901; // edit for pharaon
 $brand-white:           #fff;


/**
 * color mobile variables
 * ============================ */
 $main-brand-background: #000D26;
 $brand-popup-bottom: #141111;
 $brand-popup-short-top-gradient: #feffff;
 $brand-popup-short-bottom-gradient: #e6f5ff;
 $main-border-color: 1px solid rgba(0, 151, 236, 0.2);


 /*** ===========ADMIRAL777================= ***/
/**
 * color variables
 * ============================ */

$text-color: #fff;
$text-menu-color: #cdb49f;
$text-menu-color-hover: #ff9a4b;
$text-menu-active: #0097eb;
$text-menu-other: #000607;
$link-footer-color: #c2c4cc;
$text-color-light:     #B2E3FF;

/** JOY **/

$main-background-color: #2f2d2b;

$color-black:  #000;
$color-text:  #595757;

$color-red00: #d30000;
$color-red07: #a82307;
$color-red08 : #601808;

$color-gold6: #ebc2a6;
$color-gold6b: #b79c6b;
$color-gold6e: #c7a26e;
$color-gold85: #ffcf85;
$color-gold95: #c5ac95;
$color-gold9f: #cdb49f;

$color-orange: #ff7900;
$color-orange6: #ead7b6;

$color-grey66: #776b66;
$color-grey67: #7a7067;
$color-grey8: #888;
$color-grey80: #988a80;

$color-whiteDC: #dcdcdc;
$color-white9d: #9e9b9d;

$color-orange2b: #fc932b;

$color-footer-text: #595757;
$color-footer-link: #3972a5;