<div class="page-container">
  <div class="container rating">
    <div class="rating__data" *ngIf="isLoadingFinished">
      <table mat-table class="rating__table mat-elevation-z8" *ngIf="dataSource.data.length" [dataSource]="dataSource">

        <ng-container matColumnDef="position">
          <th mat-header-cell *matHeaderCellDef> № </th>
          <td mat-cell *matCellDef="let element"
              [class.rating__table-green]="element.position <= freePlaces"
              [class.rating__table-active]="element.id === activeId"> {{element.position}} </td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> ПІБ </th>
          <td mat-cell *matCellDef="let element"
              [class.rating__table-green]="element.position <= freePlaces"
              [class.rating__table-active]="element.id === activeId"> {{element.last_name}} {{element.first_name}} {{element.middle_name}} </td>
        </ng-container>

        <ng-container matColumnDef="faculty">
          <th mat-header-cell *matHeaderCellDef> Факультет </th>
          <td mat-cell *matCellDef="let element"
              [class.rating__table-green]="element.position <= freePlaces"
              [class.rating__table-active]="element.id === activeId"> {{element.faculty}} </td>
        </ng-container>

        <ng-container matColumnDef="speciality">
          <th mat-header-cell *matHeaderCellDef> Спеціальність </th>
          <td mat-cell *matCellDef="let element"
              [class.rating__table-green]="element.position <= freePlaces"
              [class.rating__table-active]="element.id === activeId"> {{element.speciality}} </td>
        </ng-container>

        <ng-container matColumnDef="training_form">
          <th mat-header-cell *matHeaderCellDef> Форма навчання </th>
          <td mat-cell *matCellDef="let element"
              [class.rating__table-green]="element.position <= freePlaces"
              [class.rating__table-active]="element.id === activeId"> {{element.training_form}} </td>
        </ng-container>

        <ng-container matColumnDef="mark">
          <th mat-header-cell *matHeaderCellDef> Рейтинговий бал </th>
          <td mat-cell *matCellDef="let element"
              [class.rating__table-green]="element.position <= freePlaces"
              [class.rating__table-active]="element.id === activeId"> {{+element.total_mark }} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </div>
</div>
