.entry {
  display: flex;
  align-items: center;
  justify-content: center;
  &__form {
    display: flex;
    flex-direction: column;
    &-item {
      margin-bottom: 10px;
      text-transform: uppercase;
    }
  }
}
